<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <input type="text" placeholder="Número de nodos" v-model="n">
    <button @click="crearMatriz(n)">Crear Matriz</button>

    <div class="matriz__ady">
      <ul v-for="(row,i) in m" :key="i" class="matriz__row">
        <input type="text"
        v-for="(col,j) in row" :key="j"
        class="matriz__col"
        v-model="m[i][j]">
      </ul>
    </div>

    <button @click="printmatriz">print</button>

  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  },
  created(){
    this.crearMatriz(this.n)
  },
  data(){
    return{
      n: 2,
      m: [],
      mk: []
    }
  },

  methods: {
    crearMatriz(n){
      let i,j;

      this.m = []

      for(i=0;i<n;i++)
        this.m[i] = new Array(n)

      for(i=0;i<n;i++){
        for(j=0;j<n;j++){
          if(i==j)
            this.m[i][j] = 999
          else
            this.m[i][j] = 1
        }
      }
      
      console.log("hola")
    },

    branchBound(){
      let mk = new Array(this.n)
      for(let k=0;k<this.n;k++){}
    },


    printmatriz(){
      for(let i=0;i<this.n;i++)
        for(let j=0;j<this.n;j++)
          console.log("(",i,j,") ",this.m[i][j])
    }
  }
}
</script>

<style lang="scss">
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
}

.matriz{
  &__ady{
    margin-top: 1rem;
  }
  &__row{
    display: flex;
    list-style: none;
  }
  &__col{
    width: 3rem;
    height: 3rem;
    border: 1px solid #666;
    text-align: center;
  }
}
</style>
